.img1{
  width:80%;
  padding-left:10%;
  border-radius:20%;
}
.header1{
  border:black;
  
}


h1{
  text-decoration:underline;
}
p{
  width:40%;
  text-align:center;
}

}

nav ul{
  list-style:none;
 
}
h2{
  text-align:Left;
}
nav a{
    text-decoration: none;
    text-transform:uppercase;
  color:black;
  background-color:
  
}
nav li{
display:inline-block;
  margin:2.5%
  
}
.zelda{
 
  text-align:left;
}
.games{
  background-color:#8080ff;
  padding:20px;
}





















































nav{
background-color:#8080ff;
  border-style:solid;
  border-color:black;
}
*{
  background-color
}
header{
  background-color:lightgray;
}
